

q.quote {
  background: #ccc;
  border-left: 10px solid #333;
  margin: 1.5em 10px;
  display: block;
  font-size: 120%;
  padding: 60px 10px;
}

q.quote:before {
  color: #333;
  content: open-quote;
  font-size: 5em;
  font-family: serif;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

.blog-list-item {
  margin-bottom: $spacer*2;
}

.blog-list-item__heading {
  a {
    color: $headings-color;
  }
}

.blog-aside {
  padding-left: $spacer*2;
}

.blog-aside__heading {
  margin-bottom: $spacer;
}

.blog-categories__item {
  font-size: $font-size-delta;
  display: inline-block;
  margin: 0 $spacer/2 $spacer/3 0;

  a {
    color: $off-white;
    padding: $spacer/2;
    background: $darker-gray2;
    border-radius: 5px;
    display: inline-block;

    &:hover {
      background: $darker-gray;
      color: $white;
    }
  }
}

.blog-rss-link {
  font-size: $font-size-delta;
  float: right;
}

.blog-share-buttons {
  height: 27px;
  iframe {
    margin-right: $spacer;
  }
}
