@import "algolia";

$docs-aside-menu-width: 17rem;
$docs-toc-aside-width: 17rem;
$docs-subheader-bg-color: transparent;

.page-header-docs {
  position: relative;
  z-index: 2;
  overflow: visible;
  background: black;

  background-image: url(/assets/img/v2/home_hero_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}

.page-header-docs-c1 {
  display: none;
}

.page-header-docs-c2 {
  background-color: $grafana-top-nav-bg;
}

.page-header-docs-c3 {
  display: none;
  background-color: $grafana-top-nav-bg;
}

.docs-aside-menu {
  display: none;
}

.docs-container {
  position: relative;
}

.docs-anchor-link {
  font-size: 80%;
  padding-left: 1rem;
  visibility: hidden;
}

.docs-content {
  min-height: 40rem;

  h1, h2, h3, h4, h5 {
    &:hover {
      .docs-anchor-link {
        visibility: visible;
      }
    }
  }
 }

 .docs-content-inner {
   padding: 1rem 2rem;
 }

 .nav-sub {
   list-style: none;
   margin: 0;

   li {
     display: block;

     &.menu-open {
       li {
         margin-left: 1rem;
       }
     }
   }

   a {
     font-size: 90%;
     padding-top: 0.6rem;
     padding-bottom: 0.6rem;
     padding-left: 1rem;
     display: block;
     cursor: pointer;
     color: #444444;

     &:hover {
       background: rgba(0, 0, 0, 0.05);
     }

     &:hover,
     &:focus,
     & {
       border-bottom: none;
       text-decoration: none;
       border-left: 2px solid rgba(188, 181, 185, 0.3);
     }
   }

   a.expand-menu {
     background-color: #fff;

     &:hover {
       background: rgba(0, 0, 0, 0.05);
     }

     &.active {
       background-color: #fff;
     }
   }
 }

 .nav-sub .current-page,
 .nav-sub .current-page:hover {
   border-left: 2px solid $secondary-color;
   color: $secondary-color;
 }

 .menu-closed .nav-sub {
   display: none;
 }

 .menu-open .nav-sub {
   height: auto;
 }

 .nav-sub li a {padding-left: 1em;}
 .nav-sub li li a {padding-left: 1.5em;}
 .nav-sub li li li a {padding-left: 2em;}
 .nav-sub li li li li a {padding-left: 2.5em;}
 .nav-sub li li li li li a {padding-left: 3em;}

 .docs-aside-menu .menu-icon {
   float: right;
   color: #b7b9b5;
 }

 .menu-open .menu-icon:after {
   margin: 0 5px;
   font-family: 'FontAwesome';
   content: "\f053";
 }

 .menu-closed .menu-icon:after {
   content: "\f078";
   margin: 0 5px;
   font-family: 'FontAwesome';
 }


.docs-search-wrapper {
  background-color: $docs-subheader-bg-color;
  padding: 7px;

  input {
    margin: 0;
    height: 35px;
    border: none;
    border-radius: 2px;
    box-shadow: inset 0 0 3px 0px #626262;
    width: 100%;
    &::placeholder {
      color: $text-muted-color;
    }
  }
}

.docs-toc-aside {
  display: none;
}

.docs-toc-heading {
  background-color: $docs-subheader-bg-color;
  padding: 0.5rem;
  color: white;
  text-transform: uppercase;
  padding: 14px;
  font-size: 14px;
  font-family: $header-font-family;
  font-weight: bold;
}

.docs-toc {
  padding-top: 0.5rem;
  ul {
    margin-left: 0.8rem;
    list-style: none;
  }
}


@media #{$medium-up} {
  .docs-aside-menu {
    display: block;
  }

  .page-header-docs {
    padding-top: 100px;
  }
}

@media #{$large-up} {
  .docs-aside-menu {
    width: $docs-aside-menu-width;
    position: absolute;
    top: 0;
    left: 0;
  }


  .docs-content {
    margin-left: $docs-aside-menu-width;
  }

  .page-header-docs-c1 {
    display: block;
    position: absolute;
    right: 0;
    top: 100px;
    left: 0;
    width: $docs-aside-menu-width;
    background-color: $grafana-top-nav-bg;
  }

  .page-header-docs-c2 {
    margin-left: $docs-aside-menu-width;
    background-color: $grafana-top-nav-bg;
  }
}

@media #{$xlarge-up} {
  .docs-content {
    margin-right: $docs-toc-aside-width;
  }

  .page-header-docs-c2 {
    margin-right: $docs-toc-aside-width;
  }

  .page-header-docs-c3 {
    display: block;
    background-color: $grafana-top-nav-bg;
    position: absolute;
    width: $docs-toc-aside-width;
    right: 0;
    top: 100px;
  }

  .docs-toc-aside {
    display: block;
    background: #ffeee8;
    bottom: 0;
    position: absolute;
    width: $docs-toc-aside-width;
    right: 0;
    top: 0;
    font-size: 90%;
    a {
      font-size: 90%;
    }
  }
}

