@import 'buttons.scss';

.download-row-aside {
  padding: 0 0 0 1rem;
  width: 17rem;
  float: left;

  h2 {
    font-style: italic;
  }

  .download-row-aside-step {
    color: $text-muted-color;
  }

  .download-row-aside-icon {
    padding: rem-calc(5);
    font-size: rem-calc(80);
    color: $text-muted-color;
  }

}

.download-another-version-selector {
  padding-top: 0.5rem;
  float: right;
}

.download-row-content {
  margin-left: 17rem;
}

.install-steps {
  padding-bottom: rem-calc(30);

  .install-step {
    padding: 0.2rem 1.25rem;

    .install-step-icon {
      padding: rem-calc(5);
      font-size: rem-calc(40);
      color: $primary-color;
    }
  }
}

.newsletter-slim {}

.download-links-wrapper {
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(20);
  text-align: center;
}

.download-release-heading {
}

.download-other-ways {
  a {
    background-color: $primary-color;
    color: white;
    margin-right: rem-calc(5);
    padding: rem-calc(6);
    font-size: 0.8rem;
    border-radius: 0.2rem;
  }
}

.download-release-details {
  margin-bottom: rem-calc(40);
}

a.download-link {
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 3px;
  padding-right: 10px;

  .text-muted {
    font-size: 80%;
  }

  &:hover {
    .text-muted {
      color: darken($text-muted-color, 17%);
    }
  }
}
