@import 'buttons.scss';

body.download-page {
  background-image: none;

  .tabs-content {
    margin-bottom: 0;

    ul {
      font-size: 14px;
    }
  }
}

.download-release {
  display: none;
}

.download-row {
  position: relative;
}

.download-row-aside {
  display: none;
}

.download-another-version-selector {
  padding-top: 0.5rem;
  float: right;
}

.download-release-date {
  color: $text-muted-color;
  font-size: 80%;
}


.download-links-wrapper {
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(20);
}

a.download-link {
  display: inline-block;
  border-radius: 3px;
  padding-right: 10px;

  .text-muted {
    font-size: 80%;
  }

  &:hover {
    .text-muted {
      color: darken($text-muted-color, 17%);
    }
  }
}

.section-strike {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  line-height: rem-calc(30);
  color: $text-muted-color;
}

.download-plaform-tip {
  display: none;
}

.download-platform-tip-sha,
.download-platform-tip-link {
  label {
    display: inline-block;
    width: 3rem;
  }
  span, a {
    font-size: $form-label-font-size;
  }
}

.section-strike > span {
  position: relative;
  display: inline-block;
}

.section-strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: $hr-border-color;
}


.section-strike > span:after {
  left: 110%;
}

.download-highlights-header-details {
  position: relative;
  margin-bottom: 0.8rem;
  margin-top: 0.7rem;
}

@media #{$large-up} {
  .download-row-aside {
    display: block;
    padding: 0 0 0 1rem;
    width: 17rem;
    position: absolute;
    top: 0;
    left: 0;

    h2 {
      font-style: italic;
    }

    .download-row-aside-step {
      color: $text-muted-color;
    }

    figure {
      margin: 3rem 0 0 3rem;
    }

    .download-row-aside-icon {
      font-size: rem-calc(80);
      color: $text-muted-color;
    }
  }
  .download-row-content {
    margin-left: 17rem;
  }
}
