.sign-up-box {
  background: url('../img/polygon_texture_blue.jpg') 0 0 repeat;
  background-size: cover;
  padding: $spacer;
  box-shadow: $page-section-with-bg-pattern-shadow;
}

.sign-up-box__img {
  position: relative;
  display: none;
  clear: both;
  float: none;
}

.sign-up-box__content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include at-least(medium) {
    margin-left: rem-calc(64);
    flex-direction: row;
  }

}

.sign-up-box__btn {
  margin-bottom: $spacer;
}

.sign-up-box__heading {
  color: $white;
  font-style: italic;
}

.sign-up-box__list {
  text-align: left;
  padding-left: 0;
  margin-right: 0;
  font-size: $font-size-delta;

  > li {
    list-style: none;
    margin: 0 auto rem-calc(10) rem-calc(35);
    position: relative;
    min-height: rem-calc(30);
    color: $white;

    &::before {
      font-family: 'grafana-icons';
      content: "\e603"; // .icon-gf-check-alt
      color: $success-color;
      font-size: 160%;
      margin-left: rem-calc(-40);
      position: absolute;
      top: -6px;
    }
  }
}

/* for article lists and archives */
.blog-aside {
      text-align: center;
  .sign-up-box__heading {
    font-size: $font-size-kilo;
  }
}

/* for article page */
.blog-article {
  .wrapper {
    max-width: rem-calc(1024);
    margin: 0 auto;
  }
  .sign-up-box__heading {
    font-size: $font-size-kilo;

    @include at-least(medium) {
      font-size: $font-size-mega;
    }
  }

  .sign-up__img {
    display: inline-block;
    float: none;

    @include at-least(small) {
      display: block;
      float: right;
    }

    & img {
      width: 70%;
    }
  }
}
