
.top-bar.expanded {
  background-color: black;
}

.top-bar-download-link {
  color: #FF6700;
  text-shadow: -1px 1px 10px #F07F18;
}

@media #{$topbar-media-query} {
  .top-bar-section {
    li {
      &:not(.has-form) {
        a:not(.button) {
          padding: 0 $topbar-link-padding;
          margin-top: 0px;
          line-height: 60px;
          background: $topbar-link-bg;
          &:hover {
            background-color: $topbar-link-bg-color-hover;

            &.top-bar-download-link {
              color: #FF6700;
              text-shadow: -1px 1px 10px #F07F18;
            }
          }
        }
      }
      &.active:not(.has-form) {
        a:not(.button) {
          padding: 0 $topbar-link-padding;
          margin-top: 20px;
          line-height: 60px;
          color: $topbar-link-color-active;
          background: $topbar-link-bg-active;
          &:hover {
            background: $topbar-link-bg-active-hover;
            color: $topbar-link-color-active-hover;
          }
        }
      }

      .top-bar-download-link {
        color: #FF6700;
        text-shadow: -1px 1px 10px #F07F18;
      }
    }
  }
}
