{{ partial "header.html" . }}

<div class="page-letterhead page-letterhead--graphs">
	<div class="wrapper">
		<h1 class="page-letterhead__heading">Blog</h1>
	</div>
</div>

<div class="page-content row">

	<div class="large-9 columns">
		{{ range .Data.Pages.GroupByDate "2006" }}
			<h2>{{ .Key }}</h2>
			{{ range .Pages }}
				<article class="blog-archive-item">
					<h4>
						<a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
					</h4>

					<div style="margin-bottom: 15px; position: relative; top: -10px;">
						by {{ .Params.author }} publishd on {{ .Date.Format "2 Jan 2006" }}
					</div>
				</article>
			{{ end }}
		{{ end }}
	</div>

	<div class="large-3 columns">
		<a href="{{ .RSSlink }}" type="application/rss+xml" target="_blank">
			RSS <i class="fa fa-rss"></i>
		</a>
		<hr>

		{{ partial "category_list.html" . }}
	</div>

</div>

<style>
.page-header-bg {
	background-image: url(/assets/img/header_cover3.png);
}
</style>


{{ partial "footer.html" . }}
