/* Standard Row */
.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: ($grid-padding * 0.5);
  padding: 0;
}

.row + .row {
  margin-top: ($grid-padding * -0.5);
}

/* No Gutters */
.row--no-gutters,
.row + .row--no-gutters {
  margin: 0;
}

/* Large (2x) Gutters */
.row--lg-gutters {
  margin: $grid-padding;
}

.row + .row--lg-gutters {
  margin-top: ($grid-padding * -1);
}

/* Only Internal Gutters */
.row--internal-gutters {
  margin: ($grid-padding * -1) 0 0 ($grid-padding * -1);
}

/* Internal Large Gutters */
.row--internal-gutters.row--lg-gutters {
  margin: ($grid-padding * -2) 0 0 ($grid-padding * -2);
}

/* retaining top/bottom margin but no gutters */
.row--internal-gutters.row--vertical-margin-internal-gutters {
  margin: 0 0 $grid-padding ($grid-padding * -1);
}

// Additional top margin for Plugin List page
// Really unsure where to put this properly. MST.
.row--internal-gutters.row--lg-gutters.row--lg-vertical-margin-internal-gutters {
  margin: 0 0 ($grid-padding * 2) ($grid-padding * -2);
}
