<article class="blog-list-item">
	<h2 class="blog-list-item__heading">
		<a href="{{ .Permalink }}"> {{ .Title }}</a>
	</h2>
	<hr>

	<div class="row row--no-gutters">
		<div class="col col--sm-3">
			<div class="blog-lite-item--byline">
				{{ .Date.Format "2 Jan 2006" }}<br>
				<a href="#">{{ .Params.author }}</a>
			</div>
		</div>
		<div class="col col--sm-9">
			{{ if isset .Params "list_image" }}
			<p>
				<img src="{{ .Params.list_image }}"></img>
			</p>
			{{ end }}

			<p>
				{{ .Summary }}
			</p>
			<a class="btn btn-outline" href="{{ .Permalink }}">Read Full Post</a>
		</div>
	</div>
</article>
