{{ partial "header.html" . }}

<div class="page-letterhead page-letterhead--graphs">
	<div class="wrapper">
		<h1 class="page-letterhead__heading">Blog Archive</h1>
	</div>
</div>

<div class="page-content row">
	<a class="right" href="{{ .RSSlink }}" type="application/rss+xml" target="_blank">
		RSS <i class="fa fa-rss"></i>
	</a>

	<div class="large-12 columns">
		{{ range .Data.Pages.GroupByDate "2006" }}
		<h2>{{ .Key }}</h2>
		<ul id="list">
			{{ range .Pages }}
				<article>
					<h1>
						<a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
					</h1>
					<time>
						<span class="month">{{ .Date | dateFormat "Jan" }}</span> <!-- print publish month -->
						<span class="day">{{ .Date | dateFormat "2" }}</span> <!-- print publish day -->
					</time>
					<!-- if you want pages summary you can print it here {{ .Summary }} -->
				</article>
				{{ end }}
		</ul>
		{{ end }}
	</div>

	<br>
	<br>

</div>

<style>
.page-header-bg {
	background-image: url(/assets/img/header_cover3.png);
}
</style>


{{ partial "footer.html" . }}
