{{ partial "header.html" . }}

<div class="page-letterhead">
	<div class="wrapper">
		<h1 class="page-letterhead__heading">{{ .Title }}</h1>
		<h2 class="page-letterhead__subheading">
			Published: {{ .Date.Format "2 Jan 2006" }} by {{ .Params.author }}
		</h2>
		<p id="twitter">
		<a class="twitter-share-button" data-via="grafana" href="https://twitter.com/share"></a>
		<script>
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		</script>
		</p>
	</div>
</div>


<div class="wrapper">
	<div class="row row--no-gutters">
		<div class="col col--md-9">
			{{ .Content }}

			{{ partial "disqus.html" . }}
		</div>
		<div class="col col--md-3">
			<a href="{{ .RSSlink }}" type="application/rss+xml" target="_blank">
				RSS <i class="fa fa-rss"></i>
			</a>
			<br>
			<br>

			<h5>Recent Posts</h5>

			{{ range first 5 .Site.Pages }}
			{{if eq .Section "blog" }}
				<div class="summary">
					<h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
				</div>
				{{ end }}
			{{ end }}

			<hr>

			{{ partial "category_list.html" . }}
		</div>
	</div>
</div>

{{ if isset .Params "cover_image" }}
<style>
.page-header-bg {
	background-image: url({{ .Params.cover_image }});
}
{{ if isset .Params "nav_opacity" }}
section.nav {
	background-color: rgba(0,0,0,{{ .Params.nav_opacity }})
}
{{ end }}
</style>
{{ end }}

{{ partial "footer.html" . }}

