{{ partial "header.html" . }}

<div class="main">
	<div class="page-header">
		<div class="page-header-bg"></div>
		<div class="row">
			<div class="large-12 columns">
				<h1>{{ .Title }}</h1>
			</div>
		</div>
		<div class="row">
			<div class="small-9 columns">
				<h5 class="subheader">
					Published: {{ .Date.Format "2 Jan 2006" }} by {{ .Params.author }}
				</h5>

				<p id="twitter">
				<a class="twitter-share-button" data-via="grafana" href="https://twitter.com/share"></a>
				<script>
				!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
				</script>
				</p>
			</div>

			<div class="small-3 columns"></div>
		</div>
	</div>

	<div class="page-content row">
		<div class="large-9 columns image-shadows">
			<br>
			{{ .Content }}

			{{ partial "disqus.html" . }}
		</div>
		<div class="large-3 columns">
			<br>
			<h4>Recent Posts</h4>

			{{ range first 10 .Site.Pages }}
				{{if eq .Section "blog" }}
				<div class="summary">
					<h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
				</div>
				{{ end }}
			{{ end }}

			<hr>

			<h4>About Grafana</h4>
			<p>
			Grafana is an open source metrics dashboard and graph composer for almost any metric data store.
			</p>
		</div>
	</div>
</div>

{{ if isset .Params "cover_photo" }}
<style>
.page-header-bg {
	background-image: url({{ .Params.cover_photo }});
}
</style>
{{ end }}

{{ partial "footer.html" . }}
