// =========================================================================
// DOWNLOADS
// =========================================================================

.download {
  text-align: left;
}

.download__logo {
  width: rem-calc(66);
  height: rem-calc(66);
  margin: 0 0.5rem 0.5rem 0;
}

.download__logo > img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.download__body {
}

.download__body .plugin-card__byline {
    margin-left: 5rem;
}

.download__name {
  margin: 0 0 0 5rem;
  color: $white;
  font-size: rem-calc(20);
}

.download__copy {
  margin: 0 0 0.5rem 5rem;
  color: $light-gray;
  font-size: rem-calc(14);
  line-height: rem-calc(18);
}
