// =========================================================================
// PLUGIN
// =========================================================================


.page-section--plugin .plugin-card {
  margin-bottom: rem-calc(36);
}

.page-section--plugin {
  padding: rem-calc(20 0 0 0);
}



// Card
// --------------------------------------------------------------------------

.plugin-card__header {
  margin-bottom: rem-calc(20);
}

.plugin-card__name {
  margin: 0 rem-calc(10) 0 0;
  color: $white;
  font-size: rem-calc(24);
  font-style: italic;
  font-weight: 400;

  & a:link, a:visited {
    color: $white;
    text-decoration: none;
  }
}

.plugin-card__byline {
  margin: 0 0 0.4rem 0;
  color: $light-gray;
  font-size: rem-calc(14);
  font-weight: 400;
}

.plugin-card__byline > a {
  color: $light-gray;
}

.plugin-card__description {
  display: block;
  max-width: rem-calc(800);
  font-size: rem-calc(14);
}

.plugin-card__body > p {
  margin: rem-calc(0 0 40);
  color: $white;
  font-size: rem-calc(14);
}

.plugin-card__header > img {
  border-radius: rem-calc(8);
}

.plugin-card__single-line {
  display: inline-block;
}



// Category
// --------------------------------------------------------------------------

.plugin-category {
  // height: rem-calc(25);
  // margin: rem-calc(0 0 10);
  margin-top: rem-calc(0);
  color: $medium-gray;
  font-size: rem-calc(11);
  line-height: rem-calc(25);
  font-weight: 400;
  text-align: left;
}

.plugin-category .verified {
  // float: right;
}

.page-sidebar .plugin-category {
  // height: rem-calc(25);
  // margin: rem-calc(10 0);
  color: $medium-gray;
  font-size: rem-calc(11);
  line-height: rem-calc(25);
  font-weight: 400;
}

.plugin-category a {
  color: $off-white;
}

.plugin-category__no-margin {
  margin-bottom: 0;
}

.plugin-category__icon {
  display: inline-block;
  // margin-left: rem-calc(5);
  padding: rem-calc(0 10 0 20);
  background-repeat: no-repeat;
  background-position: 0 45%;
  font-weight: 700;
  text-transform: uppercase;
  background-size: 15px;
}

.plugin-category__icon.app {
  background-image: url('../../static/img/icon_apps.svg');
}

.plugin-category__icon.page {
  background-image: url('../../static/img/icon_page.svg');
}

.plugin-category__icon.dashboard {
  background-image: url('../../static/img/icon_dashboard.svg');
}

.plugin-category__icon.datasource {
  background-image: url('../../static/img/icon_datasource.svg');
}

.plugin-category__icon.panel {
  background-image: url('../../static/img/icon_panel.svg');
}

.plugin-category__icon.grafana {
  background-image: url('../../static/img/icon_grafana.svg');
}

.plugin-category__icon.verified {
  background-image: url('../../static/img/icon_verified.svg');
  color: $primary-color;
  font-weight: 700;
  text-transform: uppercase;
}

.plugin-category__icon.preview {
  background-image: url('/img/icon_pending.svg');
  color: #f27c49;
  font-weight: 700;
  text-transform: uppercase;
}

// Dependencies
// --------------------------------------------------------------------------

.plugin-dependencies {
    margin: 0;
    font-size: rem-calc(14);
  }

// Rating
// --------------------------------------------------------------------------

.plugin-rating {
  display: table;
  width: rem-calc(160);
  height: rem-calc(160);
  border: 1px solid $medium-gray;
  text-align: center;

  @include at-least(medium) {
    float: right;
  }
}

.plugin-rating__body {
  display: table-cell;
  vertical-align: middle;
}

// Text
// --------------------------------------------------------------------------

.plugin-section-header {
  position: relative;
  font-size: $font-size-kilo;
  color: $light-gray;

  &:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: rem-calc(1);
    background: $orange-gradient;
    content: '';
  }
}

// Screenshots
// --------------------------------------------------------------------------
.plugin-screenshot {
  margin-bottom: rem-calc(40);
}

.plugin-screenshot li{
  background-color: lighten($dark-gray, 10%);
  margin-right: 3px;
  margin-bottom: 3px;
  padding: 5px 3px 0 3px;
  height: 110px;
  vertical-align: middle;
}

.plugin-section {
  margin-bottom: rem-calc(50);
}

// Installation
// --------------------------------------------------------------------------
.installation-steps {
  margin-bottom: $spacer * 3;
}

.installation-number {
  font-weight: 700;
  padding: 3px 9px;
  border: 3px solid $white;
  border-radius:50%;
  margin-right: rem-calc(10);
}

.plugin-grafana-menu {
  margin: 0 rem-calc(10);
  padding: 6px 10px;
  font-size: $font-size-gamma;
  display: inline-block;
  cursor: default;
  background-color: #292929;
  border-image: linear-gradient(#ffd500 0%, #ff4400 99%, #ff4400 100%);
  border-image-slice: 1;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 2px solid transparent;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.plugin-grafana-menu__icon {
  display: inline-block;
  padding: rem-calc(0 10 0 30);
  background-repeat: no-repeat;
  background-position: 0 45%;
  background-size: 20px;
}

.plugin-grafana-menu__icon.app {
  background-image: url('../../static/img/icon_apps.svg');
}

.plugin-grafana-menu__icon.dashboard {
  background-image: url('../../static/img/icon_dashboard.svg');
}

.plugin-grafana-menu__icon.datasource {
  background-image: url('../../static/img/icon_datasource.svg');
}

.plugin-grafana-enable--btn {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #689c00;
  background-image: linear-gradient(to bottom, #70a800, #5c8a00);
  background-repeat: repeat-x;
  border-color: #70a800;
  display: inline-block;
  font-weight: normal;
  line-height: .8;
  font-size: .85rem;
  text-align: center;
  cursor: default;
  border: 1px solid transparent;
  padding: 0.6rem 1rem;
  margin: 0 rem-calc(10);
  border-radius: 2px;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

p.inline-paragraph {
  display: inline-block;
}

div.plugin-readme img {
  max-width: 95%;
}
