<div class="value-box">
	<div class="wrapper">
		<div class="value-box__content">
			<div class="value-box__img">
		      	<img class="" src="/img/claimed_asteroid--no-hanger.svg" alt="Enterprise Ready" width="300" />
		    </div>

			<div class="value-box__text">
				<span class="value-box__header">Joining Grafana.com lets you:</span>
				<ul class="value-box__list">
					<li>Download &amp; share dashboards and plugins like panels, data sources and entire Grafana apps.</li>
					<li>Stay up to date on new Grafana releases and news.</li>
					<li>Get full access to experiment with our hosted platform.</li>
					<li>Run 3 Million checks per month with <a href="/plugins/raintank-worldping-app">worldPing</a> global performance monitoring.</li>
				</ul>
				<p class="value-box__copy">Best of all, joining the community is <b>free</b> and helps Open Source Software thrive.</p>
				
				<form method="POST" class="signup-form signup-form__in-page-box">
					<div class="form-group-inline form-group-inline--centered form-group-inline--start">
						<div class="form-group">
							<input type="text" class="form__input email-form__input" name="email" placeholder="Your email address" value="">
						</div>
						<button class="btn btn--primary btn--large">Sign up Free</button>
					</div>
					<div class="form__input-messages">
						<span></span>
						<span></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>