<section class="nav">
	<div class="row">
		<div class="nav top-bar" data-topbar=1>
			<ul class="title-area">
				<li class="name">
					<a href="/">
						<img src="/assets/img/logo_new_transparent_200x48.png" class="no-shadow" width="180px">
					</a>
				</li>
				<li class="toggle-topbar menu-icon">
					<a href="#"><span></span></a>
				</li>
			</ul>
			<section class="meta-top-bar-section">
				<ul>
					{{ range .Site.Menus.top }}
						{{ $.Scratch.Set "navBaseUrl" (printf "%v" $.Site.BaseURL) }}
						{{ partial "headerlink.html" (dict "link" . "scratch" $.Scratch) }}
					{{ end}}
				</ul>
			</section>

			<section class="top-bar-section">
				<ul class="right">
					{{ range .Site.Menus.main }}
						{{ $.Scratch.Set "navBaseUrl" (printf "%v" $.Site.BaseURL) }}
						{{ partial "headerlink.html" (dict "link" . "scratch" $.Scratch) }}
					{{ end}}

					<!-- <li> -->
					<!-- 	<a href="/features">Feature gallery</a> -->
					<!-- </li> -->
					<!-- <li> -->
					<!-- 	<a href="http://play.grafana.org" target="_blank"> -->
					<!-- 		Live Demo -->
					<!-- 	</a> -->
					<!-- </li> -->
					<!-- <li> -->
						<!-- <a href="/download" class="top&#45;bar&#45;download&#45;link">Download</a> -->
					<!-- </li> -->
					<!-- <li> -->
					<!-- 	<a href="/blog">BLOG</a> -->
					<!-- </li> -->
				</ul>
			</section>
		</div>
	</div>
</section>
