{{ partial "header.html" . }}

<div class="page-header">
	<div class="page-header-bg"></div>
	<div class="row">
		<div class="large-12 columns">
			<h1>Blog</h1>
		</div>
	</div>
</div>

<div class="page-content row">
	<div class="large-9 columns image-shadows">
		{{ range first 10 .Data.Pages }}
			{{ .Render "li"}}
		{{ end }}

		<hr>
		<div class="row">
			<div class="small-3 columns"></div>
			<div class="small-9 columns">
				<a class="button secondary radius hollow" href="/blog/">Blog Archive</a>
			</div>
		</div>
	</div>

	<div class="large-3 columns">
		<a href="{{ .RSSlink }}" type="application/rss+xml" target="_blank">
			RSS <i class="fa fa-rss"></i>
		</a>
		<hr>

		{{ partial "category_list.html" . }}
	</div>

</div>


<style>
.page-header-bg {
	background-image: url(assets/img/header_cover3.png);
}
</style>


{{ partial "footer.html" . }}
