{{ partial "header.html" . }}

<div class="page-header">
	<div class="page-header-bg"></div>
	<div class="row">
		<div class="large-12 columns">
			<h1>Grafana Blog</h1>
		</div>
	</div>
</div>


<div class="page-content row">
	<div class="large-8 columns">
		{{ range .Data.Pages }}
				{{ .Render "li"}}
		{{ end }}
	</div>
	<div class="large-4 columns">
		<br>
		<h4>Recent Posts</h4>

		{{ range first 10 .Site.Pages }}
		{{if eq .Section "blog" }}
		<div class="summary">
			<h5><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
		</div>
		{{ end }}
		{{ end }}

		<hr>

		<h4>About Grafana</h4>

		<p>
		Grafana is an open source metrics dashboard and graph composer for almost any metric data store.
		</p>
		<hr>
	</div>
</div>

{{ partial "footer.html" . }}
